html, body, video {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

#video {
    z-index: 7;
    outline: none;
    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 0;
    opacity: 0;
    // -webkit-transform: scaleX(-1); // flips the video
}

#start-button {
    position: absolute;
    z-index: 11;
    margin: 40px;
}

#photo {
    position: absolute;
    z-index: 8;
    width: 1280px;
    height: 720px;
    opacity: 1;
}

#canvas {
    display: none;
    width: 1280px;
    height: 720px;
}

#flash-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

#flash {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
}

#photos-taken {
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
    padding: 40px;
    font-size: 24px;
    color: white;
    opacity: 0.5;
}

#status {
    font-weight: 200;
    color: #7997CD;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-transition: ease-in;
    animation-iteration-count: infinite;
    animation-name: fadeIn;
}

@keyframes fadeInOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInOnce {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInOnce;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: flash;
}